.container.mt30
  .row
    .col-lg-6
      = image_tag 'factory.jpg', class: 'places-pics'
    .col-lg-6
      .row
        .col-lg-8
          %h2.title-h2 Inspection
          %p= "#{@sissy.firstname} walks to you and kneels, keeping her eyes low."
          = render 'form'

      .row.mt30
        .col-lg-2
          %p Actions
        .col-lg-6
          = link_to 'Use her mouth', oral_player_sissy_sex_relations_path(@player, @sissy, kind: 'oral')
          = link_to 'Use her ass',   anal_player_sissy_sex_relations_path(@player, @sissy, kind: 'anal')

      .row.mt30
        .col-lg-2
          %p Go to
        .col-lg-6
          = link_to 'Your Factory', player_factories_path(@player)
