.container.mt30
  .row
    .col-lg-6
      = image_tag 'blurry-slihouette.jpeg', class: 'places-pics'
    .col-lg-6
      .row
        .col-lg-8
          %h2.title-h2 A new candidate
          = render "players/sissies/locations/#{params[:location]}"

      .row
        .col-lg-6
          %ul.custom-list
            %li
              = link_to 'Try to take him', '#'
            %li
              = link_to 'Look for another victim', new_player_sissy_path(@player, new_search: true, location: params[:location])
            %li
              = link_to 'Back to the streets', player_streets_path(@player)
