.container.mt30
  .row
    .col-lg-12
      %h2.title-h2 The clothes shop
      %p To Dress your sissies
      %ul.custom-list
        .row
          - @clothes.each do |clothe|
            .col-lg-3.mb30
              %li.card
                = simple_form_for @sissy_clothe, url: player_black_markets_sissy_clothes_path(@player), method: :post do |f|
                  = f.hidden_field :clothe_id, value: clothe.id
                  = image_tag "clothes/#{clothe.name.downcase.gsub(' ', '_')}.jpg"
                  .card-content
                    %p= clothe.name
                    %p
                      %i.lni-yen
                      = clothe.price
                    %p= f.submit 'Buy', class: 'button-primary button-sm'

      .row
        .col-lg-2
          %p Go to
        .col-lg-6
          %p= link_to 'The black market', player_black_markets_path(@player)
