#main-nav
  .row.justify-content-between
    .col-auto
      .logo
        = link_to root_path do
          = image_tag 'logo_factory.png'
    - if @player
      .col-auto
        = render 'shared/player_info', player: @player
    .col
      .nav-links
        - unless current_user
          = link_to 'Sign in', new_user_session_path, class: 'button-primary button-sm'
          = link_to 'Sign up', new_user_registration_path, class: 'button-primary button-sm'
        - else
          .row
            .col-auto
              = link_to 'Inventory', player_items_path(@player), class: 'button-secondary button-sm'
            .col
              = link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'button-primary button-sm'
