%p You quickly spot a guy leaving a crowdy avenue to a dark and discreet street.
%p= "He looks like he's around #{@sissy.age_from_birthdate} years old, he has #{height_in_words(@sissy)} and #{weight_in_words(@sissy)} body."
%p= "He is wearing #{hair_length_in_words(@sissy)} #{hair_color_in_words @sissy.hair_color} hair with #{eyes_colors_in_words @sissy.eyes_color} eyes."

-# TODO: Add skin color
